<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="텍스트 인사이트 프로젝트 웹" />
    <meta name="author" content="외않된데?" />
    <link rel="stylesheet" href="/css/board_post.css">
    <script src="https://kit.fontawesome.com/7ce551d979.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/board_write.css">
  </head>
<body>
<div class="form-container">
  <h2>게시판 글 작성</h2>
  <form action="post.php" method="post">
    <div class="form-group">
      <div class="input-container">
        <input type="text" id="author" name="author" style="width: 30%;" placeholder="작성자" required>
        <input type="password" id="password" name "password" style="width: 30%;" placeholder="비밀번호" required>
      </div>
    </div>
    <div class="form-group">
      <input type="text" id="title" name="title" placeholder="제목을 입력해 주세요." required>
    </div>
    <div class="form-group">
      <textarea id="content" name="content" rows="20" placeholder="본문을 입력하세요" required></textarea>
    </div>
      <form method="post" enctype="multipart/form-data">
        <div class="button">
        </div>
        <i class="fa-solid fa-image"></i>
        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
      </form>
    <div class="form-group button-container">
      <button type="submit">등록</button>
      <button type="button" class="cancel">취소</button>
    </div>
  </form>
</div>
    <script>  
        //https://velog.io/@minkyeong-ko/HTMLCSSJS-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%85%EB%A1%9C%EB%93%9C-%ED%8C%8C%EC%9D%BC%EC%9D%B4%EB%A6%84-%EB%82%98%ED%83%80%EB%82%B4%EA%B8%B0-%ED%99%94%EB%A9%B4%EC%97%90-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EB%B3%B4%EC%97%AC%EC%A3%BC%EA%B8%B0
        function loadFile(input) {
            var file = input.files[0];	//선택된 파일 가져오기

            //미리 만들어 놓은 div에 text(파일 이름) 추가
            var name = document.getElementById('fileName');
            name.textContent = file.name;

            //새로운 이미지 div 추가
            var newImage = document.createElement("img");
            newImage.setAttribute("class", 'img');

            //이미지 source 가져오기
            newImage.src = URL.createObjectURL(file);   

            newImage.style.width = "70%";
            newImage.style.height = "70%";
            newImage.style.visibility = "hidden";   //버튼을 누르기 전까지는 이미지를 숨긴다
            newImage.style.objectFit = "contain";

            //이미지를 image-show div에 추가
            var container = document.getElementById('image-show');
            container.appendChild(newImage);
        };
    </script> 
</body>
</html>
